
<div>
<label class="text-primary">{{countryName}}</label>
<ul class="list-unstyled consumption-popup-list">
    {{#each items}}
    <li>
        <i class="label label-{{className}}">&nbsp;</i>
        <div data-uid="{{uid}}">{{title}}</div>
        <a data-link='metadata' href="#" data-uid="{{uid}}" style="color: blue">{{metadata}}</a>
        <a data-link='survey' href="#" data-uid="{{uid}}" style="color: green; display: {{display}}">{{download}}</a>
    </li>
    {{/each}}
</ul>
</div>