<div data-page="mde">
<div class="wrapper">

    <nav id="sidebar">
        <!-- Sidebar Header -->
        <!--<div class="sidebar-header">-->
            <!--<h4>{{'mdeMenu_longTitle'}}</h4>-->
            <!--<strong>{{'mdeMenu_shortTitle'}}</strong>-->
        <!--</div>-->

        <!-- Sidebar Links -->
        <ul class="list-unstyled components">
            <li class="active">
                <a id="form0_menu">
                    <i class="glyphicon glyphicon-tag"></i><span id='form0_menu_error' class='formMenuErrorHide'>*</span>
                    {{'mdeMenu_form0'}}
                </a>
                <!--<ul class="collapse list-unstyled" id="pageSubmenu">-->
            </li>
            <li>
                <!--<a href="#mdeMenu_form1Submenu" id="form1_menu">-->
                <a id="form1_menu">
                    <!--<a href="#mdeMenu_form1Submenu" id="form1_menu" data-toggle="collapse" aria-expanded="true">-->
                    <i class="glyphicon glyphicon-tag"></i><span id='form1_menu_error' class='formMenuErrorHide'>*</span>
                    {{'mdeMenu_form1'}}
                </a>
                <ul class="collapse in list-unstyled" id="mdeMenu_form1Submenu">
                    <li><a id="form1_0_menu"><span id='form1_0_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form1_0'}}</a></li>
                    <li><a id="form1_1_menu"><span id='form1_1_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form1_1'}}</a></li>
                    <li><a id="form1_2_menu"><span id='form1_2_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form1_2'}}</a></li>
                    <li><a id="form1_3_menu"><span id='form1_3_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form1_3'}}</a></li>
                    <li><a id="form1_4_menu"><span id='form1_4_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form1_4'}}</a></li>
                    <li><a id="form1_5_menu"><span id='form1_5_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form1_5'}}</a></li>
                    <li><a id="form1_6_menu"><span id='form1_6_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form1_6'}}</a></li>
                </ul>
                <!--<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">-->
                    <!--<i class="glyphicon glyphicon-tag"></i>-->
                    <!---->
                <!--</a>-->
                <!--<ul class="collapse list-unstyled" id="pageSubmenu">-->
                    <!--<li><a href="#" id="form1_menu">Form 1</a></li>-->
                    <!--<li><a href="#" id="form2_menu">Form 2</a></li>-->
                    <!--<li><a href="#" id="form3_menu">Form 3</a></li>-->
                <!--</ul>-->
            </li>
            <li>
                <!--<a href="#mdeMenu_form2Submenu" id="form2_menu">-->
                <a id="form2_menu">
                <!--<a href="#mdeMenu_form2Submenu" id="form2_menu" data-toggle="collapse" aria-expanded="true">-->
                    <i class="glyphicon glyphicon-tag"></i><span id='form2_menu_error' class='formMenuErrorHide'>*</span>
                    {{'mdeMenu_form2'}}
                </a>
                <ul class="collapse in list-unstyled" id="mdeMenu_form2Submenu">
                    <li><a id="form2_0_menu"><span id='form2_0_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form2_0'}}</a></li>
                    <li><a id="form2_1_menu"><span id='form2_1_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form2_1'}}</a></li>
                    <li><a id="form2_2_menu"><span id='form2_2_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form2_2'}}</a></li>
                </ul>
            </li>
            <li>
                <a id="form3_menu">
                    <i class="glyphicon glyphicon-tag"></i><span id='form3_menu_error' class='formMenuErrorHide'>*</span>
                    {{'mdeMenu_form3'}}
                </a>
            </li>
            <li>
                <!--<a href="#mdeMenu_form4Submenu" id="form4_menu">-->
                <a id="form4_menu">
                    <!--<a href="#mdeMenu_form4Submenu" id="form4_menu" data-toggle="collapse" aria-expanded="true">-->
                    <i class="glyphicon glyphicon-tag"></i><span id='form4_menu_error' class='formMenuErrorHide'>*</span>
                    {{'mdeMenu_form4'}}
                </a>
                <ul class="collapse in list-unstyled" id="mdeMenu_form4Submenu">
                    <li><a id="form4_0_menu"><span id='form4_0_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form4_0'}}</a></li>
                    <li><a id="form4_1_menu"><span id='form4_1_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form4_1'}}</a></li>
                </ul>
            </li>
            <li>
                <!--<a href="#mdeMenu_form5Submenu" id="form5_menu">-->
                <a id="form5_menu">
                    <!--<a href="#mdeMenu_form5Submenu" id="form5_menu" data-toggle="collapse" aria-expanded="true">-->
                    <i class="glyphicon glyphicon-tag"></i><span id='form5_menu_error' class='formMenuErrorHide'>*</span>
                    {{'mdeMenu_form5'}}
                </a>
                <ul class="collapse in list-unstyled" id="mdeMenu_form5Submenu">
                    <li><a id="form5_0_menu"><span id='form5_0_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form5_0'}}</a></li>
                    <li><a id="form5_1_menu"><span id='form5_1_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form5_1'}}</a></li>
                    <li><a id="form5_2_menu"><span id='form5_2_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form5_2'}}</a></li>
                    <li><a id="form5_3_menu"><span id='form5_3_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form5_3'}}</a></li>
                    <li><a id="form5_4_menu"><span id='form5_4_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form5_4'}}</a></li>
                </ul>
            </li>
            <li>
                <!--<a href="#mdeMenu_form6Submenu" id="form6_menu">-->
                <a id="form6_menu">
                    <!--<a href="#mdeMenu_form6Submenu" id="form6_menu" data-toggle="collapse" aria-expanded="true">-->
                    <i class="glyphicon glyphicon-tag"></i><span id='form6_menu_error' class='formMenuErrorHide'>*</span>
                    {{'mdeMenu_form6'}}
                </a>
                <ul class="collapse in list-unstyled" id="mdeMenu_form6Submenu">
                    <li><a id="form6_0_menu"><span id='form6_0_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form6_0'}}</a></li>
                    <li><a id="form6_1_menu"><span id='form6_1_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form6_1'}}</a></li>
                    <li><a id="form6_2_menu"><span id='form6_2_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form6_2'}}</a></li>
                    <li><a id="form6_3_menu"><span id='form6_3_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form6_3'}}</a></li>
                    <li><a id="form6_4_menu"><span id='form6_4_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form6_4'}}</a></li>
                    <li><a id="form6_5_menu"><span id='form6_5_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form6_5'}}</a></li>
                    <li><a id="form6_6_menu"><span id='form6_6_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form6_6'}}</a></li>
                </ul>
            </li>
            <li>
                <!--<a href="#mdeMenu_form7Submenu" id="form7_menu">-->
                <a id="form7_menu">
                    <!--<a href="#mdeMenu_form7Submenu" id="form7_menu" data-toggle="collapse" aria-expanded="true">-->
                    <i class="glyphicon glyphicon-tag"></i><span id='form7_menu_error' class='formMenuErrorHide'>*</span>
                    {{'mdeMenu_form7'}}
                </a>
                <ul class="collapse in list-unstyled" id="mdeMenu_form7Submenu">
                    <li><a id="form7_0_menu"><span id='form7_0_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form7_0'}}</a></li>
                    <li><a id="form7_1_menu"><span id='form7_1_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form7_1'}}</a></li>
                    <li><a id="form7_2_menu"><span id='form7_2_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form7_2'}}</a></li>
                </ul>
            </li>
            <li>
                <!--<a href="#mdeMenu_form8Submenu" id="form8_menu">-->
                <a id="form8_menu">
                    <!--<a href="#mdeMenu_form8Submenu" id="form8_menu" data-toggle="collapse" aria-expanded="true">-->
                    <i class="glyphicon glyphicon-tag"></i><span id='form8_menu_error' class='formMenuErrorHide'>*</span>
                    {{'mdeMenu_form8'}}
                </a>
                <ul class="collapse in list-unstyled" id="mdeMenu_form8Submenu">
                    <li><a id="form8_0_menu"><span id='form8_0_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form8_0'}}</a></li>
                    <li><a id="form8_1_menu"><span id='form8_1_menu_error' class='formMenuErrorHide'>*</span>{{'mdeMenu_form8_1'}}</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-3">
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-tag"></i>
                    {{'mdeMenu_toggleMenu'}}
                </button>
            </div>
            <div class="col-xs-2">
                <button type="button" id="metadataEditorSave" class="btn btn-info navbar-btn">
                    {{'mdeMenu_save'}}
                </button>
            </div>
            <div class="col-xs-2">
                <button type="button" id="metadataEditorCancel" class="btn btn-info navbar-btn">
                    {{'mdeMenu_cancel'}}
                </button>
            </div>
            <div class="col-xs-2">
                <button type="button" id="metadataEditorClose" class="btn btn-info navbar-btn">
                    {{'mdeMenu_close'}}
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10" id="save_error">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id ='form0' style="display: none"></div>
                <div id ='form1' style="display: none"></div>
                <div id ='form1_0' style="display: none"></div>
                <div id ='form1_1' style="display: none"></div>
                <div id ='form1_2' style="display: none"></div>
                <div id ='form1_3' style="display: none"></div>
                <div id ='form1_4' style="display: none"></div>
                <div id ='form1_5' style="display: none"></div>
                <div id ='form1_6' style="display: none"></div>
                <div id ='form2' style="display: none"></div>
                <div id ='form2_0' style="display: none"></div>
                <div id ='form2_1' style="display: none"></div>
                <div id ='form2_2' style="display: none"></div>
                <div id ='form3' style="display: none"></div>
                <div id ='form4_0' style="display: none"></div>
                <div id ='form4_1' style="display: none"></div>
                <div id ='form5_0' style="display: none"></div>
                <div id ='form5_1' style="display: none"></div>
                <div id ='form5_2' style="display: none"></div>
                <div id ='form5_3' style="display: none"></div>
                <div id ='form5_4' style="display: none"></div>
                <div id ='form6_0' style="display: none"></div>
                <div id ='form6_1' style="display: none"></div>
                <div id ='form6_2' style="display: none"></div>
                <div id ='form6_3' style="display: none"></div>
                <div id ='form6_4' style="display: none"></div>
                <div id ='form6_5' style="display: none"></div>
                <div id ='form6_6' style="display: none"></div>
                <div id ='form7_0' style="display: none"></div>
                <div id ='form7_1' style="display: none"></div>
                <div id ='form7_2' style="display: none"></div>
                <div id ='form8_0' style="display: none"></div>
                <div id ='form8_1' style="display: none"></div>
            </div>
        </div>
    </div>

</div>
</div>