<div class="row">

    <div class="col-xs-12">

        <ul class="nav nav-pills">

            <li class="active"><a data-toggle="tab" href="#dietaryPattern">{{dietaryPattern}}</a></li>
            <!--<li><a data-toggle="tab" href="#dailyPortion">{{dailyPortion}}</a></li>-->

        </ul>

        <div class="tab-content chart-holder">

            <div id="dietaryPattern" class="tab-pane fade in active">

                <div class="row">
                    <div class="col-xs-4">
                        <div>
                            <h3 class="indicator-title" data-role="title"></h3>
                            <span data-role="description"></span>
                        </div>
                        <ul class="list-group dietary-list">
                            <li class="list-group-item" data-chart="bubble">{{gramsPerPerson}}</li>
                            <li class="list-group-item" data-chart="treemap">{{percentageAsGPer100g}}</li>
                            <li class="list-group-item" data-chart="donut">{{caloriesPerPerson}}</li>
                        </ul>
                    </div>

                    <div class="col-xs-8">

                        <div class="row" data-content="bubble">

                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="rdu-chart-title">{{bubbleTitle}}</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12">

                                <div class="row">
                                    <div class="col-xs-6" id="bubble-food-holder">
                                        <h3>{{bubbleFoodTitle}}</h3>
                                        <svg width="310" height="310" id="bubble-food"></svg>
                                    </div>
                                    <div class="col-xs-6" id="bubble-beverages-holder">
                                        <h3>{{bubbleBeveragesTitle}}</h3>
                                        <svg width="200" height="200" id="bubble-beverages"></svg>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row" data-content="treemap">

                            <div class="col-xs-12">
                                <h3 class="rdu-chart-title" id='largeTree-title'></h3>
                            </div>


                            <div class="col-xs-12">
                                <div class="row">
                                   <div class="col-xs-12">
                                       <h3>{{bubbleFoodTitle}}</h3>
                                       <div id="largeTree"></div>
                                   </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3>{{bubbleBeveragesTitle}}</h3>
                                        <div id="largeTree-beverages"></div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="row" data-content="donut">

                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-12">
                                            <h3 class="rdu-chart-title" id='holeDonut-title'></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div id="donut"></div>
                                        <div id="donut-title"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

            <!--
            <div id="dailyPortion" class="tab-pane fade">

                <div class="row">
                    <div class="col-xs-4">

                        <h3>
                            <span>{{dailyPortionTitle}}</span>
                        </h3>
                        <span>{{dailyPortionDescription}}</span>
                        <div data-role="filter"></div>

                    </div>

                    <div class="col-xs-8">
                        Columns
                    </div>
                </div>

            </div>-->

        </div>

    </div>

</div>