<div class="row">

    <div class="col-xs-12">

        <ul id="nutritionTabs" class="nav nav-pills">

            <li class="active"><a data-toggle="tab" data-tab='dietary' href="#dietaryAdequacy">{{dietaryAdequacy}}</a>
            </li>
            <li><a data-toggle="tab" data-tab='source'
                   href="#sourceOfNutrientsInTheDiet">{{sourceOfNutrientsInTheDiet}}</a></li>
            <li><a data-toggle="tab" data-tab='macronutrients' href="#macronutrients"> {{macronutrients}}</a></li>
        </ul>

        <div class="tab-content chart-holder">
            <div id="dietaryAdequacy" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-xs-4">

                        <div>
                            <h3>
                                <span>{{indicator}}</span>
                                <span> {{dietaryTitle}}</span>
                            </h3>
                            <span>{{dietaryDescription}}</span>
                        </div>

                        <ul class="list-group">
                            <li class="list-group-item" data-nutrient="vitaminA">{{vitaminA}}</li>
                            <li class="list-group-item disabled" data-null="iron">{{iron}}</li>
                            <li class="list-group-item disabled" data-null="calcium">{{calcium}}</li>
                            <li class="list-group-item disabled" data-null="zinc">{{zinc}}</li>
                            <li class="list-group-item disabled" data-null="fola">{{fola}}</li>
                        </ul>

                    </div>

                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12" id = 'stackedPercentage-title'></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4"></div>
                            <div class="col-xs-5 col-offset-xs-2">
                                <div id="bar-details" class="bar-details text-center">
                                    <b><span class="percentage" id="stacked-bar-percentage"> - </span></b> of the
                                    population is AT
                                    RISK of VITAMIN A inadequacy
                                </div>
                                <div class="bar-holder">
                                    <div class="bar-mask"></div>
                                    <!--<div id="bar"></div>-->
                                    <div id="stacked-percentage"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div id="sourceOfNutrientsInTheDiet" class="tab-pane fade">

                <div class="row">
                    <div class="col-xs-4">

                        <div>
                            <h3>
                                <span>{{indicator}}</span>
                                <span> {{sourceTitle}}</span>
                            </h3>
                            <span>{{sourceDescription}}</span>
                        </div>

                        <div data-role="filter"></div>

                    </div>

                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12" id = 'pieThreeLevDrilldown-title'></div>
                        </div>

                        <div class="row">
                            <div class="col-xs-5 col-offset-xs-2">
                                <div id="pieThreeLevDrilldown"></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div id="macronutrients" class="tab-pane fade">

                <div class="row">
                    <div class="col-xs-4">

                        <div>
                            <h3>
                                <span>{{indicator}}</span>
                                <span> {{macronutrientsTitle}}</span>
                            </h3>
                            <span>{{macronutrientsDescription}}</span>
                        </div>

                    </div>

                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                         <div class="col-xs-12" id = 'macronutrientsPie-title'></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="macronutrients-pie-holder">
                                    <div id="macronutrients-pie"></div>
                                    <div class="actual-label text-center"><b>ACTUAL</b></div>
                                    <div class="recommended-label text-center"><b>RECOMMENDED</b></div>
                                </div>

                            </div>
                            <div class="col-xs-6">
                                <div id="macronutrients-pie-legend" class="legend">
                                    <ul class="list-unstyled">
                                        <li><span class="marker carbohydrates"></span> Carbohydrates - actual</li>
                                        <li><span class="marker protein"></span> Protein - actual</li>
                                        <li><span class="marker fats"></span> Fats - actual</li>
                                        <li><span class="marker carbohydrates alpha"></span> Carbohydrates - recommended
                                        </li>
                                        <li><span class="marker protein alpha"></span> Protein - recommended</li>
                                        <li><span class="marker fats alpha"></span> Fats - recommended</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>