<div data-page="readyToUse">
    <section data-section="search">
        <div data-role="catalog">Cat</div>
    </section>
    <section data-section="dashboard">

        <h1 data-role="title"></h1>
        <span>{{dashboardTitleCredits}}</span>

        <!-- back button -->
        <button data-role="back" class="btn btn-default pull-right" type="button"> {{back}}</button>

        <hr>

        <!-- top three tabs links: food consumption, food safety, nutrition -->
        <ul id="readyToUseTabs" class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#foodConsumptionTab">{{foodConsumption}}</a></li>
            <li><a data-toggle="tab" href="#foodSafetyTab">{{foodSafety}}</a></li>
            <li><a data-toggle="tab" href="#nutritionTab">{{nutrition}}</a></li>
        </ul>

        <!-- top three tabs contents: food consumption, food safety, nutrition -->
        <div class="tab-content">
            <div id="foodConsumptionTab" class="tab-pane fade in active"></div>
            <div id="foodSafetyTab" class="tab-pane fade">
                <h3>{{foodSafety}}</h3>
                <p>Some content in menu 1.</p>
            </div>
            <div id="nutritionTab" class="tab-pane fade">
                <h3>{{nutrition}}</h3>
                <p>Some content in menu 2.</p>
            </div>
        </div>
    </section>
</div>
