<div data-page="readyToUse">
    <section data-section="search">
        <div data-role="catalog"></div>
    </section>
    <section data-section="dashboard">

        <h1 data-role="title"></h1>
        <button data-role="meta" class="btn btn-default" type="button">META</button>
        <span>{{dashboardTitleCredits}}</span>

        <!-- back button -->
        <button class="btn btn-default pull-right" type="button" data-role="back"> {{back}}</button>

        <hr>

        <div class="row" id="population-filter">
            <div class="col-md-6">

                <div data-selector="gender"></div>
                <div data-selector="special_condition"></div>

            </div>
            <div class="col-md-6">
                <div data-selector="ageGranularity"></div>
                <div data-selector="age"></div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-xs-12">
                <!-- top three tabs links: food consumption, food safety, nutrition -->
                <ul id="readyToUseTabs" class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#foodConsumptionTab" data-tab="foodConsumption">{{foodConsumption}}</a></li>
                    <li><a data-toggle="tab" href="#foodSafetyTab" data-tab="foodSafety">{{foodSafety}}</a></li>
                    <li><a data-toggle="tab" href="#nutritionTab"  data-tab="nutrition">{{nutrition}}</a></li>
                </ul>

                <!-- top three tabs contents: food consumption, food safety, nutrition -->
                <div class="tab-content chart-holder">
                    <div id="foodConsumptionTab" class="tab-pane fade in active"></div>
                    <div id="foodSafetyTab" class="tab-pane fade">
                        <h3>{{foodSafety}}</h3>
                        <p>Some content in menu 1.</p>
                    </div>
                    <div id="nutritionTab" class="tab-pane fade">
                        <h3>{{nutrition}}</h3>
                        <p>Some content in menu 2.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Modal -->
    <div class="modal fade" id="meta-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">FENIX metadata</h4>
                </div>
                <div class="modal-body">
                   <div id="metadata-viewer-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
