<select id="fileTypesDropdown" class="js-example-basic-single" name="state" placeholder="ALL" style="width: 50%">
    <option value="ALL">{{downloadPopupAll}}</option>
    <option value="FCT">{{downloadPopupFoodCompositionTable}}</option>
    <option value="VD">{{downloadPopupVariableDictionary}}</option>
    <option value="MDP">{{downloadPopupMetadataPdf}}</option>
    <option value="RF">{{downloadPopupRecipeFiles}}</option>
</select>
<br>
<br>
<button type="button" data-dismiss="modal" aria-label="Close" id ='downloadDataModalButton'>{{downloadDataModalButton}}</button>