
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h2>{{userInfoFormTitle}}</h2>
        </div>
        <div class="col-xs-11 col-xs-offset-2">
            <h6>{{userInfoFormSubTitle}}</h6>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <label for="name">{{userInfoFormName}}</label>
            <input type="name" class="form-control" id="name" placeholder="Enter full name" name="name">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <label for="email">{{userInfoFormEmail}}</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email address" name="email">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <label for="institution">{{userInfoFormInstitution}}</label>
            <input type="institution" class="form-control" id="institution" placeholder="Enter Institution" name="institution">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-3 col-xs-offset-2">
            <div id="captcha_element"></div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-3 col-xs-offset-5">
            <button type="submit" class="btn btn-default" id="infoFormSubmit">{{userInfoFormSubmitButton}}</button>
        </div>
    </div>
    <div class="row">
        <div id ='infoFormError' class="col-xs-11 col-xs-offset-2" style="display: none; color: red">
            <h5>{{userInfoFormErrorMsg}}</h5>
        </div>
    </div>