<div data-role="catalog" class="fx-catalog">

    <div class="modal-body">
        <!-- Filter -->
        <div class="row ">

            <div class="row-height">

                    <div class="panel panel-default">
                        <div class="panel-heading" title="{{click_expand_collapse}}">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" title="{{click_expand_collapse}}" href="#catalog-filter-panel">{{search_criteria}}</a>: {{instruction}}
                            </h4>
                        </div>

                        <div id="catalog-filter-panel" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="panel-body">
                                <div data-role="menu" class="dropdown collapse" title="{{tooltip_btn_add_selector}}">
                                    <button class="btn btn-floating fx-background-color-primary-color btn-fx-catalog-filters" type="button" data-toggle="dropdown"
                                            aria-expanded="true">
                                        <span class="icojam_add"></span>
                                    </button>
                                </div>
                                <!-- Filter -->
                                <div data-role="filter" class="cat-filter-container">
                                    {{> ../../../html/common/filter.hbs}}
                                </div>
                            </div>
                        </div>

                </div>

                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                          {{catalog_results}}
                        </h4>
                    </div>

                <div class="panel-body cat-results">
                    <!-- Bottom -->
                    <div data-role="bottom" data-status="intro" class="cat-statuses-holder">

                        <div data-content="error" class="text-center">
                            <h2>{{catalog_error}}</h2>
                            <!-- Errors -->
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr>
                                    <ul data-role="error-container" class="alert alert-danger list-unstyled" role="alert"></ul>
                                </div>
                            </div>
                        </div>

                        <div data-content="ready">
                            <div data-role="results-container">
                                <table data-role="results"></table>
                            </div>
                            <div data-role="pagination" class="text-center"></div>
                        </div>

                        <div data-content="loading" class="text-center">
                            <span class="loading loading-48"></span>
                        </div>

                        <div data-content="empty" class="text-center">
                            <h2>{{catalog_empty}}</h2>
                        </div>

                        <div data-content="intro" class="text-center">
                            <h2>{{statistics_intro}}</h2>
                        </div>

                        <div data-content="huge" class="text-center">
                            <h2>{{catalog_too_many_results}}. <br> {{catalog_please_refine_criteria}}.</h2>
                        </div>

                    </div>

                </div>
                </div>

            </div>
        </div>

    </div>

    <div class="modal-footer">
        <!-- Summary -->
        <div class="row">
            <div class="col-xs-12" data-role="summary"></div>
        </div>

    </div>


</div>